<!DOCTYPE html>
<html>
<head>
    <title>Todo List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</head>
<body>
    {% for todo in todos %}
    <div class="todo">
        <h2>{{ todo.title }}</h2>
        <p>ID: {{ todo.id }}</p>
        <p>Completed: {{ todo.completed }}</p>
        <button onclick="set_completed({{ todo.id }})">Выполнено</button>
    </div>
    {% endfor %}
    <button id="myButton">Нажми меня</button>
    <p>Количество нажатий: <span id="count">0</span></p>
</body>
</html>