<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} Todo List {% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</head>
<body>

    {% block content %}
        {% for todo in todos %}
            <div class="todo">
                <h2>{{ todo.title }}</h2>
                <p>UserID: {{ todo.userId }}</p>
                <p>ID: {{ todo.id }}</p>
                <p>Body: {{ todo.body }}</p>
                <button onclick="alert('Задача завершена!'); set_completed({{ todo.id }}); ">Выполнено</button>
            </div>
        {% endfor %}
    {% endblock %}


</body>
</html>