.post-card {
    margin-bottom: 20px;
}

.content {
    margin: 30px;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: rgb(21 195 222);
    border-color: #000;
}

.dropdown-menu {
background-color: rgba(0,123,255,.25);
}
.completed {
  text-decoration: line-through;
}